@font-face {
  font-family: "Minecraftia";
  src: url("../resources/vendor/Minecraftia-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "Minecraftia";
}

.jarak {
  margin-bottom: 140px;
}

/* PAGE ---> About */
.bg-hero {
  height: 470px;
  background-image: url("../resources/images/bg_hero.png");
  background-repeat: no-repeat;
  /* background-position: 30% 40%; */
  background-size: cover;
}

.hero-img {
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  max-width: 90%;
  height: auto;
}

/* PAGE ---> Series */
.series .box-season {
  width: 20rem;
  margin: 0 auto;
  background-color: #f3f3f3;
  outline-style: solid;
  outline-color: #AF1514;
  outline-width: 5px;
}
.series .box-season:hover {
  outline-color: #E62B28;
}

.box-text {
  margin-top: 40px;
  text-align: center;
}

/* PAGE ---> Creation */
.creation .box-display {
  width: 30rem;
  margin: 0 auto;
  background-color: #f3f3f3;
  outline-style: solid;
  outline-color: #AF1514;
  outline-width: 5px;
}

.creation .box-display:hover {
  outline-color: #E62B28;
}

/* PAGE ---> Community */

.community .box-display {
  width: 30rem;
  margin: 0 auto;
  background-color: #f3f3f3;
  outline-style: solid;
  outline-color: #F6BF51;
  outline-width: 5px;
}
.community .box-display:hover {
  outline-color: #FAEA61;
}

@media (min-width: 960px) {
  .navbar-nav.abs {
    position: absolute;
    width: auto;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
  }
}

@media (max-width: 960px) {
}

@media (max-width: 720px) {
}

@media (max-width: 540px) {
}
